.App {
  text-align: center;
}

body.light {
  --navandposts: #ffffff;
  --onnavandposts: #262626;
  --newsfeed: #fafafa;
  --extra: #2fa8f7;
  --onextra: #ffffff;
  --light-border: 2px solid #e3e3e3;
  --light-border1px: 1px solid #e3e3e3;
  --dark-border: 2px solid #dedede;
  --dark-border1px: 1px solid #dedede;
  --buttonbackground: #efefef;
  --onbutton: #000000;
  --faded-text: #575757;
  --svg: invert(0%) sepia(92%) saturate(32%) hue-rotate(22deg) brightness(97%) contrast(100%);
}

body.dark {
  --navandposts: #000000;
  --onnavandposts: #fafafa;
  --newsfeed: #121212;
  --extra: #056fb5;
  --onextra: #ffffff;
  --light-border: 2px solid #363636;
  --light-border1px: 1px solid #363636;
  --dark-border: 2px solid #262626;
  --dark-border1px: 1px solid #262626;
  --buttonbackground: #efefef;
  --onbutton: #000000;
  --faded-text: #c9c9c9;
  --svg: invert(100%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(100%) contrast(103%);
}

body {
  /* background-color: red; */
  background-color: var(--newsfeed);
}