.createbodyroot {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.createpostbody {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.createbody {
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    box-sizing: border-box;
    background-color: var(--newsfeed);
    /* left: 400px; */
    height: 800px;
    width: 800px;
    border-radius: 1rem;
    color: var(--onnavandposts);
    /* border: var(--light-border); */
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.createaposttitle {
    text-align: center;
    padding: 15px;
    border-bottom: var(--dark-border1px);
}

.exitcreatepost {
    position: absolute;
    right: 45px;
    top: 30px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.uploadimagearea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--newsfeed);
}

.uploadimagearea:hover, .captionarea:hover {
    background-color: var(--navandposts);
}

.captionarea {
    font-size: 1rem;
    height: 15%;
    border: 0;
    background-color: var(--newsfeed);
    color: var(--onnavandposts);
    border-top: var(--dark-border1px);
    padding: 10px;
    resize: none;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
}

.sharepostbuttonarea {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.sharepostbutton {
    width: 25%;
    background-color: var(--extra);
    color: var(--onextra);
    font-size: 1rem;
    border: 0;
    border-radius: 0.5rem;
    padding: 8px;

}

/* .sharepostbutton:hover {

} */

.fileclick {
    display: none;
}

.tempimageupload {
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    height: 75%;
    background-color: rgb(234, 234, 234);
}