.explorepage {
    display: flex;
    justify-content: center;
    margin-left: 400px;
    background-color: var(--newsfeed);
    width: calc(100% - 400px);
}

.explorepagecontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border-radius: 0.8rem;
    border: var(--light-border1px);
    box-sizing: border-box;
    width: 800px;
    background-color: var(--navandposts);
    color: var(--onnavandposts);
    height: fit-content;
    padding: 20px;
}

.exploretitle {
    font-size: 2.2rem;
    color: var(--onnavandposts);
    margin: 15px;
}

/* .exploredesc {
    font-size: 1.2rem;
    margin-bottom: 20px;
} */

.exploreusergrid {
    display: grid;
    /* For just a 4 colum grid: 
    width: fit-content;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    */
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 6fr));
    gap: 20px;
}

.exploreusercard {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--newsfeed);
    border: var(--light-border1px);
    border-radius: 0.4rem;
    width: 100%;
}

.exploreuserimage {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-right: 20px;
}

.exploreuserrightside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exploreusername:visited, .exploreusername:link {
    text-decoration: none;
    color: var(--onnavandposts);
}

.exploreusername {
    font-size: 1.2rem;
}

.exploreuserdesc {
    font-size: 0.9rem;
    font-weight: 300;
}

.explorefollowbutton {
    color: var(--onnavandposts);
    background-color: var(--newsfeed);
    border: none;
    border: var(--light-border1px);
    width: 100%;
    border-radius: 0.4rem;
    margin-top: 5px;
    
}

.explorefollowinginfo {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;

}




/* .imagehover {
    position: relative;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 250px;
    visibility: hidden;
} */

/* .imagecontainer {
    width: 100%;
    height: 250px;
    display: inline-block;
}

.imagehover {
    display: none;
    position: absolute;
    top: 0;
    width: 250px;
    width: 100%;
    z-index: 1;
    background-color: red;
}

.imagecontainer:hover .imagehover {
    display: block;
} */



.exploreimage {
    position: relative;
    width: 100%;

}

.exploreimageimage {
    border-radius: 0.2rem;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

/* .test {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 100;
} */

/* .test:hover {
    visibility: visible;
} */
