.sidebarbody {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background: var(--navandposts);
    color: var(--onnavandposts);
    align-items: flex-start;
    border-right: var(--dark-border);
}

.logotitle {
    margin: 0;
    margin-bottom: 30px;
    font-size: 2.4rem;
}

.usersection {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 20px;
    /* border-bottom: var(--light-border1px); */
}

.navprofilepicture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    /* border: var(--light-border1px); */
}

.navusername {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: var(--dark-border1px);
}

.profiletitle:visited, .profiletitle:link, .logotitle, .searchtitle, .navusernamelink:visited,   
.navusernamelink:link, .bottomsection {
    color: var(--onnavandposts);
    text-decoration: none;
}

.profiletitle:hover {
    color: var(--onnavandposts);
}

.settings {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
}

.createpostbutton {
    font-size: 1.4rem;
    font-weight: 400;
}

.signoutbutton {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.themearea {
    display: flex;
    justify-content: space-between;

}

.switchthemebutton {
    background-color: var(--opposite);
    padding: 10px;
    border-radius: 0.6rem;
}

.switchthemetext {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    background-color: var(--navandposts);
    color: var(--onnavandposts);
}

.bottomsection {
    width: 100%;
}