.signupbody {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.instagramtitle {
    letter-spacing: 0.2rem;
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: 500;
}

.signupcontainer {
    display: flex;
    border: 2px solid white;
    padding: 20px;
    /* padding: 20px; */
    border-radius: 2.4rem;
    min-width: fit-content;
    max-width: 35%;
}

.signinleft {
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem 0 0 1.4rem;
    padding: 20px;
    margin-right: 30px;
    background-color: white;
    color: black;
}

.signupright {
    display: flex;
    /* padding-left: 30px; */
    flex-direction: column;
    /* border-left: 2px solid white; */
    padding: 20px;
}

.signintitle, .signuptitle {
    margin: 0;
    font-size: 2.4rem;
    /* font-weight: 500; */
}

.signindesc, .signupdesc {
    margin: 5px 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 400;
}

.signlabel {
    font-size: 0.8rem;
    padding-bottom: 3px;
}

.signininput, .signupinput {
    font-size: 1.2rem;
    border-radius: 0.4rem;
    border: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(97, 97, 97, 0);
}

.signininput {
    background-color: #273e463a;
}

.signininput:focus {
    border: 1px solid #0F2027;
}

.signinbutton {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    border: 0;
}

.forgotpassword {
    margin: 8px 0;
    font-size: 0.75rem;
    color: rgb(97, 97, 97);
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.05rem;
}

.signinerrormessage {
    color: rgb(173, 70, 70);
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.signupbutton {
    background-color: white;
    padding: 15px;
    font-size: 1rem;
    color: #0F2027;
    border-radius: 2rem;
    border: 0;
}

.signuperrormessage {
    color: rgb(253, 100, 100);
    margin: 0;
    margin-top: 10px;
    text-align: center;

}